<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Fantasy Premier League</title>
  <meta name="description" content="Premier League fantasy league">
  <meta name="author" content="Rohit Nazareth">

  <link rel="stylesheet" href="stylesheets/main.css">

</head>

<body>
	<nav>
	
		
	</nav>
  