<% include partials/header %>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<h1>Fantasy Premier League</h1>
		</div>
	</div>
	
	<div class="row">
		<table class="table table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Team</th>
		      <th scope="col">Manager</th>
		      <th scope="col">Points</th>
		    </tr>
		  </thead>
		  <tbody>
		  	
		  	<% for (var i=0; i < users.length; i++) { %>
		  		<tr>
		  			<td> <%= i+1 %> </td>
		  			<td> <%= users[i].team %> </td>
		  			<td> <%= users[i].username %> </td>
		  			<td> <%= users[i].id %> </td>
		  		</tr>
		  	<%	} %>
		  	
		  </tbody>
		</table>
	</div>
			
</div>

