<% include partials/header %>

<div class="container">
	
	<h1 class="page-title text-center">Sign Up</h1>
	
	<div class="d-flex justify-content-center">
		<form class="signup-form" action="/register" method="post">
			<div class="form-row">
	      <label for="email">Username</label>
	      <input type="text" class="form-control" name="username" placeholder="username">
	    </div>
	    <div class="form-row">
	      <label for="password">Password</label>
	      <input type="password" class="form-control" name="password" placeholder="password">
	    </div>
	    <div class="form-row">
	    	<button class="btn btn-primary" type="submit">Sign Up</button>
	    </div>
		</form>
	</div>


	
</div>

<% include partials/footer %>



