nav {
	margin-bottom: 50px;
}

table {
    margin: 50px 0;
}

.button {
    padding: 0.5em;
    border-radius: 0.4em;
}


.register-link {
    color: white;
    margin: 0 1em;
    font-size: small;
}

.page-title {
    margin: 1.5em 0;
}

/*form*/
form {
    margin: 1.5em 0;
}


.signup-form {
    border: 1px solid;
    padding: 2em 3em;
    /*margin: auto;*/
    
}

.form-row {
    padding: 1.5em 0;
}
